<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailing.dao.PPTMapper">
  <resultMap id="BaseResultMap" type="com.sailing.entity.PPT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="page" jdbcType="INTEGER" property="page" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="resource_ids" jdbcType="VARCHAR" property="resourceIds" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, page, `size`, `path`, resource_ids, user_id, upload_time
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ppt_file
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectByKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ppt_file
        where `name` LIKE #{keyword,jdbcType=VARCHAR}
    </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from ppt_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sailing.entity.PPT" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into ppt_file (id, `name`, page, 
      `size`, `path`, resource_ids, 
      user_id, upload_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{page,jdbcType=INTEGER}, 
      #{size,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{resourceIds,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sailing.entity.PPT" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into ppt_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="resourceIds != null">
        resource_ids,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null">
        #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.sailing.entity.PPT">
    update ppt_file
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null">
        resource_ids = #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.sailing.entity.PPT">
    update ppt_file
    set `name` = #{name,jdbcType=VARCHAR},
      page = #{page,jdbcType=INTEGER},
      `size` = #{size,jdbcType=INTEGER},
      `path` = #{path,jdbcType=VARCHAR},
      resource_ids = #{resourceIds,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>